<form action="answer" data-turbo="false">
  <div class="form-group">
    <label for="questionBox" class="mb-1">Talk to the coach</label>
    <div class="d-flex">
      <input type="text" name="question" autocomplete="off" class="w-10 form-control" id="questionBox">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </div>
</form>
